:root {
    --vp-home-hero-name-color: #78be7e;
    --vp-button-brand-bg: #3da345;
    --vp-button-brand-hover-bg: #8fa390;
    --vp-button-brand-active-bg: #969796;

    --vp-c-brand-1: #78be7e;

    --vp-layout-max-width: calc(1152px + 64px);
}

@keyframes lazy-loading {
    0%, 100% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.3;
    }
}
@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.VPHome .main {
    overflow: hidden;
    border-radius: 12px;
}

.VPHome .main::before {
    content: "";
    background: url('/nuxoblivius-docs/nuxoblivius.png');
    background-position: center;
    background-size: 100%;
    aspect-ratio: 1/1;
    display: block;
    position: absolute;
    right: 0.3em;
    pointer-events: none;
    top: 0;
    height: 100%;
    z-index: 1;
}
.VPHome .main::after {
    content: "";
    background: linear-gradient(-90deg, #489178 0%, rgba(0,212,255,0) 100%);
    display: block;
    pointer-events: none;
    position: absolute;
    right: 0em;
    width: 100%;
    top: 0;
    opacity: 0.1;
    height: 100%;
}

.loading {
    user-select: none;
    pointer-events: none;
    animation: lazy-loading 1s infinite;
}

section.tabs {
    display: flex;
    flex-direction: column;

    background: var(--vp-code-block-bg);
    padding: 1em;
    padding-top: 2em;
    position: relative;
    border-radius: 8px;
}
section.tabs::before {
    font-size: 12px;
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0.5em;
    left: 1em;
    
    content: "Nuxoblivius render:";
}
.tabs-render {
    flex-direction: column;
    position: relative;
}
.tabs-render .render-tools {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    background: var(--vp-c-bg);
    margin-bottom: 1em;
    border-radius: 8px;
}
.tabs-render .render-footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em;
    background: var(--vp-c-bg);
    margin-top: 1em;
    border-radius: 8px;
}
.tabs-render .render-list {
    display: flex;
    position: relative;
    display: flex; 
    flex-direction: column;
    gap: 1em;
}
.tabs-render .render-block {
    background: var(--vp-c-bg);
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 1em;
}
.tabs-render .render-block .main {
    font-size: 16px;
    opacity: 0.9;
}
.tabs-render .render-block .sub {
    font-size: 16px;
    opacity: 0.4;
}
.tabs-render .render-list.loading::after {
    content: "";
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%, -50%;
    aspect-ratio: 1/1;
    border: var(--vp-c-text-1) 2px solid;
    border-top: none;
    border-left: none;
    border-radius: 600px;
    animation: spin 1s infinite;
}
.tabs-render .limit-text-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tabs-swap {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: var(--vp-c-brand-1);
    border: 1px solid var(--vp-c-brand-1);
    border-radius: 6px;
    padding: 0.3em;
    margin-top: 0.5em;
    opacity: 0.4;
    transition: opacity ease-in 0.3s;
    order: 1;
    font-size: 14px;
}
.tabs-swap:hover {
    opacity: 0.9;
}
section.tabs > input { display: none; }
section.tabs input:checked ~ .tabs-render {
    display: none;
}
section.tabs input:not(:checked) ~ .tabs-render {
    display: flex;
}
section.tabs input:not(:checked) ~ .tabs-source {
    display: none;
}
section.tabs input::checked ~ .tabs-source {
    display: unset;
}
section.tabs .tabs-source > div { margin: 0; }
section.tabs .tabs-source > div code { padding-inline: 0.1em; }
section.tabs .tabs-source > div .shiki { padding-bottom: 0.5em; }
section.tabs input:not(:checked) + .tabs-swap::before {
    content: "</> Source Code";
}
section.tabs input:checked + .tabs-swap::before {
    content: " 🕹 Back to Render";
}